.first-page {
  height: 100vh;
  background-image: url("../image/firstpage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
    }

  .title {
      color: #393939;
      font-weight: 200;
      font-size: 64px;
      padding-top: 5%;
      text-align: center;
       }
