.navbar {
  height: 8vh;
  background-color: #272727;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  }

  .navbar-left {
  margin-left: 15%;
  display: flex;
  }
  .navbar-left a {
    margin-left: 20%;
  }

  .navbar-right {
  margin-right: 15%;
  display: flex;
  }
  .navbar-right a {
    margin-right: 20%;
  }

.navbar a {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  }

  .progress-container {
    display: flex;
    width: 100%;
    height: 5px;
    background: #272727;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .progress-bar {
    height: 5px;
    background: lightgray;
    width: 0%;
  }

  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }
