.navbar {
  height: 10vh;
  background-color: #272727;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  }

  .navbar-left a {
  margin-left: 3em;
  }

  .navbar-right a {
  margin-right: 3em;
  }

.navbar a {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  }
